<div id="selectContent">

  <div id="options">
    <p>Geef de view een naam</p>

    <div class="input-div">
      <input  class="form-input" type="text" (input)="changeNameEvent.emit($event)" placeholder=" ">
      <label for="" class="form-label">Naam</label>
    </div>

  </div>

  <div class="seperationLine"></div>

  <div class ="select-template">
    <p>Selecteer een template</p>
    <div id="templates">
      <button (click)="selectTemplate($event, templateTest)">test</button>
      <button (click)="selectTemplate($event, templateFullMap)">Map</button>
    </div>
  </div>

  <div class="seperationLine"></div>

  <div id="buttons">
    <button (click)="applyTemplate()">Aanmaken</button>
  </div>

</div>
