<div id="selectContent">
  <div id="options">
    <p>Geef de view een naam</p>

    <div class="input-div">
      <label for="float" class="input-label">Naam</label>
      <input  id="float" type="text" (input)="changeNameEvent.emit($event)" placeholder=" ">
    </div>


  </div>

  <div class="seperationLine"></div>

  <p>Selecteer een template</p>
  <div id="templates">
    <button (click)="selectTemplate($event, templateTest)">test</button>
    <button (click)="selectTemplate($event, templateFullMap)">Map</button>
    <button (click)="selectTemplate($event, templateStatistics)">Statistic</button>
  </div>

  <div class="seperationLine"></div>

  <div id="buttons">
    <button (click)="applyTemplate()">Aanmaken</button>
  </div>
</div>
