#topBar {
  display: flex;
  background-color: white;
  border-bottom: var(--grey-200) 1px solid;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#titleWhole {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.description{
  font-size: 13px;
}

.configuraties-text{
  padding-left: 20px;
  padding-top: 20px;
}

.titleBlue {
  color: var(--hydrologic-blue);
}

.titleGreen {
  color: var(--hydrologic-green);
}

.solid{
  border-top: 3px solid #bbb;
}

.flexbox-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbox-item{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: hidden;
}

.grow{
  flex-grow: 2;

}

.bottom{
  margin: 10px;
  padding-left: 4px;
  border-radius: 10px;
}

.views-container{
  flex-direction: column;
  display: flex;
}

.views-container p{
  padding-left: 20px;
}

.views{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border:1px solid black;
  border-radius: 15px;
}

.views p {
  font-size: 12px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.view-text{
  padding-left: 20px;
  padding-top: 20px;
}

.view-text h1{
  font-size: 30px;
}
