<head>
  <title>Neerslagradar</title>
</head>

<body>

  <header id="topBar">
    <h1 id="titleWhole">
      <p class="titleBlue">Hydro</p>
      <p class="titleGreen">NET</p>
    </h1>
  </header>

  <div class="text-and-button-container">
    <div class="configuraties-text">
      <h1>Configuraties</h1>
      <p>Selecteer één van de configuraties of creëer een nieuwe</p>
    </div>

    <div class="empty-button-div">
      <a href="/home"><button class="empty" title="Maak nieuwe configuratie">Nieuwe configuratie</button></a>
    </div>
  </div>


  <div class="flexbox-container" >
    <div class="flexbox-item" *ngFor = "let config of getAllConfigs()">
      <div class="grow">

        <div class="view-text">
          <h1>{{config.title.charAt(0).toUpperCase() + config.title.slice(1)}}</h1>
          <i class='bx bxs-trash' title="Verwijder configuratie" (click)="deleteConfig(config.id)"></i>
        </div>

        <div class="views-container">
          <p class="description">{{config.description}}</p>
          <p>Geselecteerde views: </p>
          <div class="views" *ngFor = "let view of config.views">
            <p><b>View naam:</b> {{view.name}}</p>
            <p><b>View type:</b>  {{view.templateType}}</p>
          </div>
        </div>

      </div>

      <div class="button-div">
        <a href="/home?config={{config.id}}"><button class="bottom" title="Selecteren">Selecteren</button></a>
      </div>

    </div>
  </div>

  <button *ngIf="showMe" class="back-to-top-button" (click)="scrollTop()"><i class='bx bxs-chevrons-up' id="top-knop"></i></button>

</body>
