#topBar {
  display: flex;
  background-color: white;
  border-bottom: var(--grey-200) 1px solid;
  align-items: center;
  justify-content: space-between;
}

#titleWhole {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 32px;
  margin-top: 20px;
}

.description{
  font-size: 13px;
}

.divider
{
  position: relative;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.titleBlue {
  color: var(--hydrologic-blue);
}

.titleGreen {
  color: var(--hydrologic-green);
}

.flexbox-container{
  display: flex;
  justify-content: center;
}


.flexbox-item{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.grow{
  flex-grow: 2;
}

.bottom{
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.views{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  margin: 50px;

}

.views p {
  font-size: 12px;
}
