.wrapper {
  display: grid;
  grid-template-areas:  "map"
                        "chart";
  grid-template-rows: repeat(2, auto);
  background-color: lightblue;
  min-height: 100%;
}

.map {
  grid-area: map;
}

.chart {
  grid-area: chart;
}
