.wrapper {
  display: grid;
  grid-template-areas:  "map"
                        "chart";
  grid-template-rows: repeat(2, 1fr);
  min-height: 100%;
}

.map {
  grid-area: map;
}

.chart {
  grid-area: chart;

}
