<link rel="stylesheet" href="animation-map.component.css">
<div id="mainContainer">
  <div id="map" leaflet (leafletMapReady)="onReady($event)" [leafletOptions]="options"></div>

  <div class="section upperRight">
    <div id="times" class="overlay" (click)="$event.stopPropagation()">
      <div>
        <label for="beginDateTime">Begin</label>
        <input (change)="changeTime($event, 'begin')" [valueAsNumber]="_beginTime.valueOf()" step="300" id="beginDateTime" type="datetime-local" class="datePicker">
      </div>
      <div>
        <label for="endDateTime">Eind</label>
        <input (change)="changeTime($event, 'end')"  [valueAsNumber]="_endTime.valueOf()" step="300" id="endDateTime" type="datetime-local" class="datePicker">
      </div>
    </div>

    <div id="slider" class="overlay">
      <div>
        <button [ngClass]="[animationPlaying?'play':'pause', 'playButton']" (click)="animationPlaying=!animationPlaying">
          <div class='pauseIcon bx bx-pause'></div>
          <div class='playIcon bx bx-play' ></div>
        </button>
        <input type="range" min="0" [max]="totalFrames-1" [(ngModel)]="currentFrameIndex" (mousedown)="pauseAnimation()" (mouseup)="resumeAnimation()">
      </div>
      <div class="text-center">
        {{add0ToNumberFront(_currentTime.getUTCDate())}}-{{add0ToNumberFront(_currentTime.getUTCMonth()+1)}}-{{_currentTime.getUTCFullYear()}}&nbsp;{{add0ToNumberFront(_currentTime.getUTCHours())}}:{{add0ToNumberFront(_currentTime.getUTCMinutes())}}
      </div>
    </div>
  </div>

  <div class="section lowerLeft">
    <div id="legend" class="overlay">
      <label class="legendTitle" for="colorList">Neerslag in&nbsp;mm/uur</label>
      <ul id="colorList">
        <li class="colorItem">
          <div class="colorPrev colorPrev1"></div>
          <label>0</label>
        </li>
        <li class="colorItem">
          <div class="colorPrev colorPrev2"></div>
          <label>1</label>
        </li>
        <li class="colorItem">
          <div class="colorPrev colorPrev3"></div>
          <label>2</label>
        </li>
        <li class="colorItem">
          <div class="colorPrev colorPrev4"></div>
          <label>5</label>
        </li>
        <li class="colorItem">
          <div class="colorPrev colorPrev5"></div>
          <label>10</label>
        </li>
        <li class="colorItem">
          <div class="colorEmpty"></div>
          <label>20+</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="section lowerRight">

  </div>
</div>
