/*overlays*/
.overlay {
  background-color: white;
  width: max-content;
  position: absolute;
  z-index: 999;
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--grey-900) 0 0 .5rem;
}

/*map*/
#mapContainer {
  height: 100%;
}

#map {
  height: 100%;
  border-radius: 0 0 .5rem .5rem;
}

/*time*/
#times {
  float: right;
  top: 10px;
  right: 10px;
}

#times > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noHover{
  pointer-events: none;
}

label{
  font-family: var(--base-font);
  color: var(--clr-500);
  font-weight: var(--medium-weight);
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.datePicker{
  display: inline-block;
  position: relative;
  font-family: var(--base-font);
  color: var(--clr-500);
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

::-webkit-calendar-picker-indicator:hover {
  filter: invert(33%) sepia(92%) saturate(788%) hue-rotate(180deg) brightness(93%) contrast(98%);
  cursor: pointer;
}

.datePicker:after{
  content: '';
  position: absolute;
  width: 75%;
  transform: scaleX(0);
  height: 2px;
  bottom: 1px;
  left: 1px;
  background-color: var(--hydrologic-blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.datePicker:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*legend*/
#legend {
  float: left;
  bottom: 10px;
  left: 10px;
}

#legend>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.colorItem {
  display: flex;
  align-content: center;
}

.legendTitle {
  margin: 0 8px 5px 8px;
  font-size: smaller;
}

.colorItem>label {
  margin: 0;
  padding: 0;
  font-size: smaller;
}

.colorPrev {
  width: 1.5rem;
  height: 1rem;
  margin: 0 8px;
  padding: 0;
  border: solid 0.5px var(--bs-gray-600);
}

#colorPrev1 {
  background-color: #9db6d6;
}

#colorPrev2 {
  background-color: #4c7bb5;
}

#colorPrev3 {
  background-color: #1e00ff;
}

#colorPrev4 {
  background-color: #eb1416;
}

#colorPrev5 {
  background-color: #e718aa;
}

#colorPrev6 {
  background-color: #000000;
}

/*slider*/
#slider {
  float: right;
  right: 10px;
  bottom: 25px;
}

/*play pause*/
button.play>.pauseIcon {
  display: none;
}

button.pause>.playIcon {
  display: none;
}

.playButton {
  margin: 0 5px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
