<div id="mainContainer" style="height: 100%;">
  <div id="map" leaflet (leafletMapReady)="onReady($event)" [leafletOptions]="options">
    <div id="times" (click)="$event.stopPropagation()">
      <div class="times-datepicker">
        <label for="beginDateTime">Begin</label>
      <div>
        <label class="noHover" for="beginDateTime">Begin </label>
        <input (change)="changeTime($event, 'begin')" [valueAsNumber]="_beginTime.valueOf()" step="300" id="beginDateTime" type="datetime-local">
      </div>
      <div class="times-datepicker">
        <label for="endDateTime">Eind</label>
      <div>
        <label class="noHover" for="endDateTime">Eind </label>
        <input (change)="changeTime($event, 'end')"  [valueAsNumber]="_endTime.valueOf()" step="300" id="endDateTime" type="datetime-local">
      </div>
    </div>
  </div>
</div>
