#mapContainer {
  position: absolute;
  height: 100%;
}

#times {
  background-color: white;
  width: max-content;
  position: relative;
  float: right;
  top: 20px;
  right: 20px;
  z-index: 999;
  padding: 5px;
  border-radius: 5px;
}

#times > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#map {
  height: 100%;
}
