:host {
  width: 600px;
  border: 1px solid #000;
  flex-grow: 1;
  min-height: 120px;
  box-sizing: border-box;
  margin: 5px;
  justify-content: space-between;
  text-align: center;
}

/*view*/
#view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*Top bar*/
#topBar {
  display: flex;
}
#viewName {
  flex-grow: 2;
  align-items: center;
  display: flex;
  margin-left: 7px;
}
.bx {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

/*Content*/
#template {
  flex-grow: 2;
}
