/*Top bar*/
#topBar {
  display: flex;
}
#viewName {
  flex-grow: 2;
  align-items: center;
  display: flex;
  margin-left: 7px;
}
.bx {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

/*Content*/
