<div id="main">
  <header id="topBar">
      <h1 id="titleWhole">
        <p class="titleBlue">Hydro</p>
        <p class="titleGreen">NET</p>
      </h1>
    <div id="buttons">
      <button title="to configurations" routerLink="/configurations" class="bx bx-selection"></button>
      <button title="save config" class='bx bxs-save' (click)="saveConfigOpen=true"></button>
      <button title="settings" class='bx bxs-wrench' (click)="settingsOpen=true"></button>
      <button title="add view" [disabled]="views.length==6" class='bx bxs-add-to-queue' (click)="addView()"></button>
    </div>
  </header>

  <div id="views">
    <ng-template views class="views"></ng-template>
  </div>
</div>

<div id="saveConfigMenu" class="overlay" *ngIf="saveConfigOpen" (click)="saveConfigOpen=false">
  <div class="popup" (click)="$event.stopPropagation()">
    <div class="top">
      <h2>Configuratie opslaan</h2>
      <button class="close" (click)="saveConfigOpen=false">&times;</button>
    </div>
    <div class="line"></div>
    <form (ngSubmit)="saveConfig()">
      <div class="content">
        <label for="title">Titel</label>
        <input name="title" id="title" type="text" placeholder="titel" [(ngModel)]="configTitle">

        <label for="description">Omschrijving</label>
        <textarea name="description" id="description" placeholder="omschrijving" [(ngModel)]="configDescription"></textarea>
      </div>
      <button type="submit">Opslaan</button>
    </form>
  </div>
</div>

<div id="settingsMenu" class="overlay" *ngIf="settingsOpen" (click)="settingsOpen=false">
  <div class="popup" (click)="$event.stopPropagation()">
    <div class="top">
      <h2>Instellingen</h2>
      <button class="close" (click)="settingsOpen=false">&times;</button>
    </div>
    <div class="content">
      <!--TODO add options for application-->
    </div>
  </div>
</div>
