#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#views {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

#topBar {
  display: flex;
  background-color: white;
  border-bottom: var(--grey-200) 1px solid;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#titleWhole {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.titleBlue {
  color: var(--hydrologic-blue);
  font-style: italic;
  font-weight: bold;
}

.titleGreen {
  color: var(--hydrologic-green);
  font-weight: bold;
  margin-left: 1px;
}

p {
  padding: 0;
  margin: 0;
}

#buttons {
  display: flex;
  column-gap: 2rem;
}

#descLabel{
  margin-top: 10px;
}

#submitButton{
  padding: 3px 5px;
  border: none;
  border-radius: 7px;
  background-color: var(--clr-500);
  color: white;
  -webkit-transition: 200ms ease-in-out, color 200ms ease-in-out;
  transition: 200ms ease-in-out, color 200ms ease-in-out;
  text-align: center;
  height: 40px;
  width: 100px;
  margin-left: 35%;
  margin-top: 10px;
}

#submitButton:hover{
  box-shadow: 0 10px 36px rgba(0,0,0, .20);
  background-color: var(--clr-300);
  color: white;
}

button {
  border: none;
  color: var(--clr-500);
  background-color: white;
}

.bx {
  font-size: 1.5rem;
  color: var(--clr-500);
}

button:disabled {
  color: var(--grey-200);
}

.overlay {
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.popup {
  width: min-content;
  min-width: 30%;
  position: relative;
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: var(--grey-900) 0 0 .5rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top>h2 {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: x-large;
}

.close {
  position: relative;
  top: -20px;
  font-size: xx-large;
  background-color: transparent;
}


.line {
  border-bottom: 1px solid var(--bs-gray-500);
}

.content {
  display: grid;
  grid-template-areas: "label input";
  grid-template-columns: min-content 1fr;
  justify-items: stretch;
  column-gap: 5px;
  row-gap: 5px;
  margin: 5px;
}

form>button {
  all: revert;
}

.bx:hover{
  color: var(--clr-400);
}

@media screen and (max-width: 767px) {
  .bx, h1 {
    font-size: 1rem;
  }
}
