<div id="main">
  <header id="topBar">
      <h1 id="titleWhole">
        <p class="titleBlue">Hydro</p>
        <p class="titleGreen">NET</p>
      </h1>
    <div id="buttons">
      <button title="to configurations" routerLink="/configurations" class="bx bx-selection"></button>
      <button title="save config" class='bx bxs-save' (click)="openSaveConfig()"></button>
      <button title="settings" class='bx bxs-wrench' (click)="openSettings()"></button>
      <button title="add view" class='bx bxs-add-to-queue' (click)="addView()"></button>
    </div>
  </header>

  <div id="views">
    <ng-template views class="views"></ng-template>
  </div>
</div>
