<div id="main">
  <div id="topBar">
    <div id="left">
      <h1 id="titleWhole">
        <p class="titleBlue">Hydro</p>
        <p class="titleGreen">NET</p>
        <p class="titleBlue"> - Neerslagradar</p>
      </h1>
    </div>
    <div id="center">

    </div>
    <div id="right">
      <button title="settings" class='bx bxs-wrench' (click)="openSettings()"></button>
      <button title="add view" class='bx bxs-add-to-queue' style='color:#4db038' (click)="addView()"></button>
    </div>
  </div>

  <div id="views">
    <ng-template views class="views"></ng-template>
  </div>
</div>
